# 5. Introduction to Sql and Mysql and its Commends
SQL (Structured Query Language) is a standard programming language specifically designed for managing and manipulating relational databases. Hereâ€™s an overview of SQL concepts, divided into different sections:

### 1. Basic SQL Concepts

**Relational Database Management System (RDBMS)**: SQL is used to interact with relational databases, which store data in tables (rows and columns).

**Tables**: The fundamental unit of storage in an RDBMS. A table consists of rows and columns, where each column has a data type and each row represents a record.

### 2. SQL Commands

SQL commands are grouped into different categories based on their functionalities:

**Data Definition Language (DDL)**:
- **CREATE**: Create a new table, database, index, or view.
    ```sql
    CREATE TABLE Employees (
        EmployeeID INT PRIMARY KEY,
        FirstName VARCHAR(50),
        LastName VARCHAR(50),
        DateOfBirth DATE
    );
    ```
- **ALTER**: Modify an existing database object, like adding a column to a table.
    ```sql
    ALTER TABLE Employees ADD Email VARCHAR(100);
    ```
- **DROP**: Delete an existing database object.
    ```sql
    DROP TABLE Employees;
    ```

**Data Manipulation Language (DML)**:
- **SELECT**: Retrieve data from the database.
    ```sql
    SELECT FirstName, LastName FROM Employees WHERE EmployeeID = 1;
    ```
- **INSERT**: Insert new records into a table.
    ```sql
    INSERT INTO Employees (EmployeeID, FirstName, LastName, DateOfBirth) VALUES (1, 'John', 'Doe', '1990-01-01');
    ```
- **UPDATE**: Modify existing records in a table.
    ```sql
    UPDATE Employees SET Email = 'john.doe@example.com' WHERE EmployeeID = 1;
    ```
- **DELETE**: Remove records from a table.
    ```sql
    DELETE FROM Employees WHERE EmployeeID = 1;
    ```

**Data Control Language (DCL)**:
- **GRANT**: Give a user permission to perform certain tasks.
    ```sql
    GRANT SELECT ON Employees TO UserName;
    ```
- **REVOKE**: Remove a user's permissions.
    ```sql
    REVOKE SELECT ON Employees FROM UserName;
    ```

**Transaction Control Language (TCL)**:
- **COMMIT**: Save all changes made in the current transaction.
    ```sql
    COMMIT;
    ```
- **ROLLBACK**: Undo changes made in the current transaction.
    ```sql
    ROLLBACK;
    ```
- **SAVEPOINT**: Set a point within a transaction to which you can later roll back.
    ```sql
    SAVEPOINT SavepointName;
    ```

### 3. Advanced SQL Concepts

**Joins**: Combine rows from two or more tables based on a related column.
- **INNER JOIN**: Select records with matching values in both tables.
    ```sql
    SELECT Employees.FirstName, Departments.DepartmentName
    FROM Employees
    INNER JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;
    ```
- **LEFT JOIN**: Select all records from the left table, and the matched records from the right table.
    ```sql
    SELECT Employees.FirstName, Departments.DepartmentName
    FROM Employees
    LEFT JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;
    ```
- **RIGHT JOIN**: Select all records from the right table, and the matched records from the left table.
    ```sql
    SELECT Employees.FirstName, Departments.DepartmentName
    FROM Employees
    RIGHT JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;
    ```
- **FULL JOIN**: Select all records when there is a match in either left or right table.
    ```sql
    SELECT Employees.FirstName, Departments.DepartmentName
    FROM Employees
    FULL OUTER JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;
    ```

**Subqueries**: A query within another query.
```sql
SELECT FirstName, LastName FROM Employees WHERE DepartmentID = (SELECT DepartmentID FROM Departments WHERE DepartmentName = 'Sales');
```

**Indexes**: Improve the speed of data retrieval.
```sql
CREATE INDEX idx_lastname ON Employees(LastName);
```

**Views**: Virtual tables based on the result-set of a SQL statement.
```sql
CREATE VIEW SalesEmployees AS
SELECT FirstName, LastName FROM Employees WHERE DepartmentID = (SELECT DepartmentID FROM Departments WHERE DepartmentName = 'Sales');
```

**Stored Procedures**: A set of SQL statements with an assigned name, stored in the database.
```sql
CREATE PROCEDURE GetEmployeeDetails
    @EmployeeID INT
AS
BEGIN
    SELECT FirstName, LastName, Email FROM Employees WHERE EmployeeID = @EmployeeID;
END;
```

**Triggers**: SQL code that is automatically executed in response to certain events on a particular table.
```sql
CREATE TRIGGER trg_after_insert
AFTER INSERT ON Employees
FOR EACH ROW
BEGIN
    INSERT INTO AuditLog(EmployeeID, Action) VALUES (NEW.EmployeeID, 'INSERT');
END;
```

### 4. SQL Best Practices

- **Normalization**: Organize data to minimize redundancy.
- **Indexing**: Create indexes on columns used frequently in WHERE clauses.
- **Avoiding SQL Injection**: Use parameterized queries.
- **Using Transactions**: Ensure data integrity and handle errors.
- **Consistent Naming Conventions**: For tables, columns, and other objects.


Sure! Let's delve deeper into each of these important SQL best practices:

### 1. Normalization: Organize Data to Minimize Redundancy

Normalization is a process in database design that organizes tables to minimize redundancy and dependency. It divides large tables into smaller, related tables and defines relationships between them.

**Forms of Normalization**:
- **First Normal Form (1NF)**: Ensures that each table column contains atomic (indivisible) values, and each column contains values of a single type.
    ```sql
    CREATE TABLE Customers (
        CustomerID INT PRIMARY KEY,
        FirstName VARCHAR(50),
        LastName VARCHAR(50),
        PhoneNumber VARCHAR(15)
    );
    ```
- **Second Normal Form (2NF)**: Achieved when a table is in 1NF and all non-key columns are fully dependent on the primary key.
    ```sql
    CREATE TABLE Orders (
        OrderID INT PRIMARY KEY,
        OrderDate DATE,
        CustomerID INT,
        FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
    );
    ```
- **Third Normal Form (3NF)**: Achieved when a table is in 2NF and all the columns are dependent on the primary key, and not on any other non-key column.
    ```sql
    CREATE TABLE Products (
        ProductID INT PRIMARY KEY,
        ProductName VARCHAR(100),
        Price DECIMAL
    );
    ```

**Benefits**:
- Reduces data redundancy.
- Improves data integrity.
- Simplifies maintenance.

### 2. Indexing: Create Indexes on Columns Used Frequently in WHERE Clauses

Indexing improves the speed of data retrieval operations on a database table at the cost of additional storage and slower writes (inserts, updates, deletes).

**Example**:
```sql
CREATE INDEX idx_lastname ON Employees(LastName);
```

**Types of Indexes**:
- **Single-column Index**: Index based on a single column.
- **Composite Index**: Index based on multiple columns.

**Benefits**:
- Speeds up query performance.
- Efficient data retrieval.

**Drawbacks**:
- Requires additional storage.
- Slows down write operations.

### 3. Avoiding SQL Injection: Use Parameterized Queries

SQL injection is a code injection technique that might destroy your database. It is one of the most common web hacking techniques.

**Example of a Vulnerable Query**:
```sql
-- Vulnerable to SQL injection
string query = "SELECT * FROM Users WHERE UserID = '" + userId + "'";
```

**Using Parameterized Queries**:
```sql
-- Safe from SQL injection
string query = "SELECT * FROM Users WHERE UserID = @UserID";
command.Parameters.AddWithValue("@UserID", userId);
```

**Benefits**:
- Prevents SQL injection attacks.
- Enhances security.

### 4. Using Transactions: Ensure Data Integrity and Handle Errors

A transaction is a sequence of one or more SQL operations treated as a single unit of work. Transactions ensure data integrity and consistency.

**Example**:
```sql
BEGIN TRANSACTION;

-- Deduct from one account
UPDATE Accounts SET Balance = Balance - 100 WHERE AccountID = 1;

-- Add to another account
UPDATE Accounts SET Balance = Balance + 100 WHERE AccountID = 2;

COMMIT; -- Save changes

-- If there's an error
ROLLBACK; -- Undo changes
```

**Properties (ACID)**:
- **Atomicity**: Ensures all operations within a transaction are completed successfully. If one fails, the transaction fails and no changes are made.
- **Consistency**: Ensures the database changes only in valid ways.
- **Isolation**: Ensures that transactions are securely and independently processed at the same time without interference.
- **Durability**: Ensures that once a transaction is committed, it will remain so, even in the event of a power loss, crash, or error.

### 5. Consistent Naming Conventions: For Tables, Columns, and Other Objects

Consistent naming conventions make your database schema easier to read and maintain.

**Example**:
```sql
-- Naming convention for tables
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(100)
);

-- Naming convention for columns
-- Use CamelCase or snake_case
```

**Best Practices**:
- **Tables**: Use plural nouns (e.g., `Employees`, `Orders`).
- **Columns**: Use clear, descriptive names (e.g., `FirstName`, `OrderDate`).
- **Primary Keys**: Use the table name followed by ID (e.g., `EmployeeID`, `OrderID`).
- **Foreign Keys**: Use the primary key name of the referenced table (e.g., `CustomerID` in the `Orders` table).

**Benefits**:
- Enhances readability.
- Reduces ambiguity.
- Facilitates collaboration among developers.

## 5.Code Differences between SQL and Mysql
SQL (Structured Query Language) is a standard language for querying and managing databases. MySQL is a relational database management system (RDBMS) that uses SQL. While MySQL implements SQL standards, there are some differences, extensions, and unique features in MySQL's implementation. Here are some key differences between general SQL syntax and MySQL-specific code:

### 1. Data Types

**SQL Standard**:
- INTEGER
- VARCHAR(size)
- DATE
- DECIMAL(p, s)

**MySQL**:
- INT (alias for INTEGER)
- VARCHAR(size)
- DATE
- DECIMAL(p, s)
- TEXT
- DATETIME
- ENUM

**Example**:
```sql
-- Standard SQL
CREATE TABLE Employees (
    EmployeeID INTEGER PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    BirthDate DATE,
    Salary DECIMAL(10, 2)
);

-- MySQL
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    BirthDate DATE,
    Salary DECIMAL(10, 2),
    Bio TEXT,
    CreatedAt DATETIME,
    Gender ENUM('Male', 'Female', 'Other')
);
```

### 2. Auto Increment

**SQL Standard**:
```sql
CREATE TABLE Employees (
    EmployeeID INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    FirstName VARCHAR(50)
);
```

**MySQL**:
```sql
CREATE TABLE Employees (
    EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
    FirstName VARCHAR(50)
);
```

### 3. String Functions

**SQL Standard**:
```sql
SELECT SUBSTRING(FirstName, 1, 3) FROM Employees;
```

**MySQL**:
```sql
SELECT SUBSTRING(FirstName, 1, 3) FROM Employees;
```

### 4. Limit Rows

**SQL Standard**:
```sql
SELECT * FROM Employees FETCH FIRST 10 ROWS ONLY;
```

**MySQL**:
```sql
SELECT * FROM Employees LIMIT 10;
```

### 5. Date Functions

**SQL Standard**:
```sql
SELECT CURRENT_DATE FROM Employees;
```

**MySQL**:
```sql
SELECT CURDATE() FROM Employees;
```

### 6. Conditional Statements

**SQL Standard**:
```sql
SELECT 
    CASE 
        WHEN Salary > 1000 THEN 'High'
        WHEN Salary <= 1000 AND Salary >= 500 THEN 'Medium'
        ELSE 'Low'
    END AS SalaryRange
FROM Employees;
```

**MySQL**:
```sql
SELECT 
    CASE 
        WHEN Salary > 1000 THEN 'High'
        WHEN Salary <= 1000 AND Salary >= 500 THEN 'Medium'
        ELSE 'Low'
    END AS SalaryRange
FROM Employees;
```

### 7. Comments

**SQL Standard** (uses `--` or `/* ... */`):
```sql
-- This is a comment
/* This is a multi-line
   comment */
```

**MySQL** (uses `--` or `#` for single-line comments):
```sql
-- This is a comment
# This is also a comment
/* This is a multi-line
   comment */
```

### 8. Joins

**SQL Standard**:
```sql
SELECT Employees.FirstName, Departments.DepartmentName
FROM Employees
JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;
```

**MySQL**:
```sql
SELECT Employees.FirstName, Departments.DepartmentName
FROM Employees
JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;
```

### 9. Stored Procedures

**SQL Standard**:
```sql
CREATE PROCEDURE GetEmployeeDetails(IN EmployeeID INTEGER)
BEGIN
    SELECT FirstName, LastName FROM Employees WHERE EmployeeID = EmployeeID;
END;
```

**MySQL**:
```sql
DELIMITER //
CREATE PROCEDURE GetEmployeeDetails(IN EmployeeID INT)
BEGIN
    SELECT FirstName, LastName FROM Employees WHERE EmployeeID = EmployeeID;
END//
DELIMITER ;
```

### 10. Upsert (Insert or Update)

**SQL Standard**:
```sql
MERGE INTO Employees AS Target
USING (VALUES (1, 'John', 'Doe')) AS Source (EmployeeID, FirstName, LastName)
ON Target.EmployeeID = Source.EmployeeID
WHEN MATCHED THEN
    UPDATE SET FirstName = Source.FirstName, LastName = Source.LastName
WHEN NOT MATCHED THEN
    INSERT (EmployeeID, FirstName, LastName)
    VALUES (Source.EmployeeID, Source.FirstName, Source.LastName);
```

**MySQL**:
```sql
INSERT INTO Employees (EmployeeID, FirstName, LastName)
VALUES (1, 'John', 'Doe')
ON DUPLICATE KEY UPDATE
    FirstName = VALUES(FirstName),
    LastName = VALUES(LastName);
```

### Summary

While MySQL adheres to many SQL standards, it also provides its own set of extensions and differences. Knowing these differences helps when writing cross-platform SQL code or optimizing SQL for MySQL specifically.

#### Prepared By,
Ahamed Basith